= f.inputs do
  %ul
    %li
      = f.label :type
      = f.text_field :type
    %li
      = f.label :status
      = f.text_field :status
    %li
      = f.label :optional
      = f.check_box :optional
    %li
      = f.label :order
      = f.number_field :order
